.lead__image {
  margin: 12.5vw 0 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .lead__image {
    margin-top: calc(5600vw / 768);
  }
}

@media screen and (min-width: 1024px) {
  .lead__image {
    margin: calc(5600vw / 1024) calc(4800% / 1024) 0;
    width: calc(92800% / 1024);
    height: calc(58000vw / 1024);
    object-fit: cover;
  }
}

@media screen and (min-width: 1280px) {
  .lead__image {
    margin: calc(6400vw / 1280) calc(14800% / 1280) 0;
    width: calc(98400% / 1280);
    height: calc(61500vw / 1280);
    object-fit: cover;
  }
}
