.cover {
  display: flex;
  width: 100%;
  margin-top: calc(1600vw / 320);
}


@media screen and (min-width: 768px) {
  .cover {
    margin-top: calc(9000vw / 768);
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    margin-top: 92px;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    width: calc(118400% / 1280);
    margin-left: calc(4800% / 1280);
    margin-right: calc(4800% / 1280);
  }
}
