@font-face {
  font-family: 'Inter';
  font-weight: 900;
  src: url('../fonts/Inter-Black.woff'),
    url('../fonts/Inter-Black.woff2');
} 

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url('../fonts/Inter-Regular.woff'),
   url('../fonts/Inter-Regular.woff2');
}


@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: url('../fonts/Inter-Bold.woff'),
   url('../fonts/Inter-Bold.woff2');
}

.page {
  width: 100%;
  background: #2A2C2F;
  font-family: 'Inter';
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
}

.header{
  margin: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (min-width: 425px){
  .header{
    margin-top: calc(2800vw/768);
    margin-left: calc(2400vw/768);
    margin-right: calc(2400vw/768);
    margin-bottom: 0;
  }
}

.header__lang-links{
  margin: calc(1400vw/320) 0 0;
  display: flex;
  flex-direction: row;
  column-gap: 18px;
}

@media screen and (min-width: 425px){
  .header__lang-links{
    margin: calc(1800vw/768) 0 0;
  }
}   

.header__lang-link{
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
  text-decoration: none;
  color: #FFFFFF
}
@media screen and (min-width: 425px){
  .header__lang-link{
    font-size: 24px;
    line-height: 1.17;
}
}

.header__lang-link:selected{
  text-decoration: underline;
}
.logo {
  width: 142px;
  height: 42px;
}
@media screen and (min-width: 425px){
  .logo {
    width: 176px;
    height: 52px;
  }
}

.lead{
  display: flex;
  flex-direction: column;  
}

.lead__title{
  margin: 10vw 5vw 5vw;
  font-weight: 900;
  font-size: 40px;
  line-height: 1.1;
  text-align: center;
}

@media screen and (min-width: 425px){
  .lead__title{
    margin: calc(4800vw/768) calc(2400vw/768) calc(3200vw/768);
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04; 
  }
}

.lead__subtitle{
  margin: 0 5vw 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  white-space: pre-line;
}

@media screen and (min-width: 425px){
  .lead__subtitle{
    margin: 0 calc(6400vw/768) 0;
    font-size: 30px;
    line-height: 1.2;
  }
}

.lead__image{
  margin: 12.5vw 0 0;
  width: 100vw;
}

.lead__caption{
  margin:0;
  margin-top: 2.5vw;
  margin-left: 5vw;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
@media screen and (min-width: 425px){
  .lead__caption{
    margin-top: calc(800vw/768);
    margin-left: calc(2400vw/768);  
  }
}  
.intro{
 margin: 20vw 5vw 0;
}
@media screen and (min-width: 425px){
  .intro{
    margin: calc(8800vw/768) calc(2400vw/768) 0;
  }
}

.intro__title{
  margin: 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
  white-space: pre-line;
}
@media screen and (min-width: 425px){
  .intro__title{
    font-size: 54px;
    line-height: 1.07;
  }
}


.intro__text{
  margin: 12.5vw 0 calc(3400vw/320);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
}
@media screen and (min-width: 425px){
  .intro__text{
    margin: calc(4000vw/768) 0 calc(3300vw/768);
  }
}
.intro__list{
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  list-style: none;
}


.photo-grid{
  display: flex;
  flex-direction: column;
  margin: 20vw 5vw;
  row-gap: calc(1200vw/320);
}

@media screen and (min-width: 425px){
  .photo-grid{
    margin: calc(8800vw/768) calc(2400vw/768) calc(8800vw/768);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 16px;
    }
}

.photo-grid__item{
  width: calc(28800vw/320);
  height: calc(21600vw/320);
  object-fit: cover;
}

@media screen and (min-width: 425px){
  .photo-grid__item{
    min-width: calc(35200vw/768);
    min-height: calc(26400vw/768);
  }
}


@media screen and (min-width: 425px){
  .places{
    display: flex;
    flex-direction: column;
    margin: 0 calc(2400vw/768) 0;
    row-gap: calc(7300vw/768);
   }
}
 
@media screen and (min-width: 425px){
  .place{
    display: grid;
    grid-template-columns: calc(34000vw/768) calc(35200vw/768);
    grid-template-rows: auto auto;
    grid-template-areas: 
      "heading url"
      "image text";
    column-gap: calc(2800vw/768);
  }
}
.place__title{
  margin: 0 5vw 0;
  font-weight: 900;
  font-size: 32px;
  font-style: normal;
  line-height: 1.09;   
}


@media screen and (min-width: 425px){
  .place__title{
    margin: 0;
    font-size: 42px;
    line-height: 1.1;
    grid-area: heading;
  }
}

.place__website{
  margin: 10vw 5vw 0;
}
.place__url-heading{
  margin:0;
  margin-bottom: 12px;
  color: #AAAAAA;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
}
@media screen and (min-width: 425px){
  .place__website{
    grid-area: url;
    margin: 0 0 calc(4800vw/768);
  }
}

.place__link{
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #FFFFFF;
}

.place__image{
  width: 100vw;
  margin: 10vw 0 0;
  object-fit: contain;
}

@media screen and (min-width: 425px){
  .place__image{
    width: calc(34000vw/768);
    height: calc(34000vw/768);
    margin: 0;
    grid-area: image; 
  }
}
.place__text{
  margin: 10vw 5vw calc(5000vw/320)
}
.place__paragraph{
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
}
.place__paragraph:first-child{
  margin-bottom: 25px;
}
.place__paragraph:only-child{
    margin:0;
}


@media screen and (min-width: 425px){
  .place__text{
    grid-area: text;
    margin: 0;
  }
}
.cover{
  display:flex;
  width: calc(32000vw/320);
  height: calc(20000vw/320);
  margin-top: calc(1600vw/320);
  background-image: url(../images/mobile/cover-trains.svg);
  position: relative;
  background-size: cover;
  justify-content: center;
}

.cover::after{
    background: rgba(42,44,47,0.3);
    position: absolute;
    width: 100%;
    height: 100%;
}
   @media screen and (min-width: 425px){
    .cover{
        margin-top: calc(9000vw/768);
    }
}

.cover__link{
  width: 100%;  
  padding: 10vw 5vw 10vw;
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}

.cover__link:hover{
  background: rgba(42,44,47,0.5);
}

.cover__title{
  margin: 0;
  margin-bottom: 5vw;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
  text-align: center;
  white-space: pre-line;
}

@media screen and (min-width: 425px){
  .cover__title{
    font-size: 72px;
    line-height: 1.06;
  } 
} 

.cover__subtitle{
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  white-space: pre-line;
}
@media screen and (min-width: 425px){
    .cover__subtitle{
      font-size: 18px;
      line-height: 1.22;
    } 
} 

.footer{
  margin: 20vw 5vw 7.5vw;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 425px){
  .footer{
    flex-direction: row;
    margin: calc(8800vw/768) calc(2400vw/768) calc(2400vw/768);
    } 
} 

.footer__links{
  display: flex;
  flex-direction: column;
  row-gap: 10vw;
}

@media screen and (min-width: 425px){
    .footer__links{
      flex-direction: row;
      column-gap: 18px;
      } 
} 

.footer__link{
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  text-decoration: none;
  color: #FFFFFF;
}
@media screen and (min-width: 425px){
    .footer__link{
        font-size: 16px;
        line-height: 1.12; 
    }
}

.footer__copyright{
  margin: 15vw 0 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
}

@media screen and (min-width: 425px){
  .footer__copyright{
    margin: 0;
    margin-left: calc(6900vw/768);
    margin-right: calc(2400vw/768);
    font-size: 14px;
    line-height: 1.12; 
   }
}

